    * { 
      margin: 0; padding: 0;
      overflow: hidden;
      font-family: sans-serif;
      font-size: 18px;
      color: rgb(200,200,200);
    }

    a {
    	color: rgb(45,75,255);
    }
    
    a:hover {
    	color: rgb(145,175,255);
    }
    

    body { 
      background-color: rgb(25,25,25); overflow: hidden;
    }

    #processing {outline: none; }

    .textblock {
    	position: absolute;
    	padding: 10px;
    	
    }